.movies{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}
body{
    background-color: grey;
    color: whitesmoke;
}
img{
    height: 400px;
    width: 300px;
}

.smlpic{
    height: 80%;
    width: 100%;
  
}
.movblock{
    margin: 10px;
    border: 5px solid darkgray;
    background-color: black;
}
form{
    width: 100%;
    border: 5px solid black;
    
}
.create-acc{
    display: flex;
    width: 100%;
    justify-content: center;
   
}
.words{
    color: black;

}
.logged-in{
    display: flex;
    justify-content: end;
    width: 100%;
}
.users{
  padding: 2rem;
  margin: 3rem;
    
}
.userspage{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    
}