{% extends 'base.html' %} {% block title %}All Movies{% endblock %}{% block body
%}
<h1>All Movies</h1>
<section class="movies">
  {%for movie in movies%}
  <a class="btn btn-dark" href="/movies/{{movie.movie_id}}">
    {{movie.title}} {%endfor%} {% endblock %}
  </a>
  {% if session.get('user_email') %}
  <h2>Rate this movie</h2>
  <form action="/movies/{{ movie.movie_id }}/ratings" method="POST">
    <p>
      Rating:
      <select name="rating">
        <option value="">Select rating</option>
        {% for num in range(6) %}
        <option value="{{ num }}">{{ num }}</option>
        {% endfor %}
      </select>
    </p>
    <p><input type="submit" /></p>
  </form>
  {% endif %}
</section>
